[Unit]
Description=VPN Connection Watchdog
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ vllm_install_dir }}/watchdog/vpn-watchdog.sh
Restart=always
RestartSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier=vpn-watchdog

Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
